APP_SECRET=
APP_WEB_URL=
APP_API_URL=

NODE_ENV=development

MAIL_DRIVER=ethereal

# MAIL_USER_SMTP=
# MAIL_PASS_SMTP=

# AWS CREDENTIALS
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

# Storage
STORAGE_DRIVER=disk

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASS=docker
POSTGRES_DB_NAME=gobarber_gostack

# MongoDB
MONGO_HOST=localhost
MONGO_USER=
MONGO_PASS=
MONGO_NAME=gobarber

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
